<!DOCTYPE html>
<html lang="en">
    <head>
        <Meta title="{{content.title}}" desc="{{content.desc}}"/>
        <link rel="shortcut icon" href="{{ site.favicon }}">
        <link rel="apple-touch-icon" href="{{ site.apple_touch_icon }}">
        <link rel="stylesheet" href="{{ site.css_dir }}/main.css">
        <link rel="stylesheet" href="{{ site.css_dir }}/hljs-solarized-dark.min.css">
        <link rel="stylesheet" href="{{ site.google_fonts }}">
    </head>
    <body>
        <Nav/>

{{ content }}

    </body>
</html>
